<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    bootstrap="./tests/autoload.php"
    colors="true"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
    cacheDirectory=".phpunit.cache"
    requireCoverageMetadata="true"
>
  <testsuites>
    <testsuite name="Unit Tests">
      <directory>./tests/UnitTests</directory>
    </testsuite>
    <testsuite name="Integration Tests">
      <directory>./tests/IntegrationTests</directory>
    </testsuite>
  </testsuites>
  <coverage
      includeUncoveredFiles="true"
      pathCoverage="false"
      ignoreDeprecatedCodeUnits="true"
      disableCodeCoverageIgnore="false"
  >
    <report>
      <!-- <clover outputFile="php-coverage/clover.xml"/> -->
      <!-- <crap4j outputFile="php-coverage/crap4j.xml" threshold="50"/> -->
      <html outputDirectory="php-coverage/html-coverage" lowUpperBound="50" highLowerBound="90"/>
      <!-- <php outputFile="php-coverage/coverage.php"/> -->
      <text outputFile="php-coverage/coverage.txt" showUncoveredFiles="false" showOnlySummary="false"/>
      <!-- <xml outputDirectory="php-coverage/xml-coverage"/> -->
    </report>
  </coverage>
  <source>
    <include>
      <directory suffix=".php">./lib</directory>
    </include>
  </source>
</phpunit>
